*{
    margin: 0px;
    padding: 0px;
}
body{
    background: rgb(50, 132, 209);
    font: 500 25px 'fira code' ;
    color: white;
}
header{
    text-align: center;
   
}
section{
    width: 45.25rem;
    height: 30rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(29, 25, 25);
    /* padding: 0.9rem; */
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.473);
}
#velocidade{
    padding: 5px;
    font-size: 18px;
}
#i-layout{
    padding: 10px;
    border: none;
    font-weight: 900;
    font-size:16px
}
footer{
   text-align: center;
}
